// Global Fonts
@font-face {
  font-family: Kayak;
  src: url(..fonts/Kayak/kayaksans-bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Clash;
  src: url(..fonts/Clash/clash-semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: InterRegular;
  src: url(../font/Inter/inter-reg.ttf);
  font-weight: 400;
}

@font-face {
  font-family: InterMedium;
  src: url(../fonts/Inter/inter-medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: InterSemiBold;
  src: url(../fonts/Inter/inter-semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter/inter-bold.ttf);
  font-weight: 700;
}

:root {
  --primary: #16707a;
  --offWhite: #e5e5e5;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  //font-family: Helvetica, Almarai, sans-serif;
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@include respond-below(sm) {
  .container {
    max-width: 540px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding-right: 1px;
    padding-left: 1px;
  }
}
.text-4xl,
.text-3xl {
  @apply max-md:text-2xl max-md:font-bold;
}

.text-2xl {
  @apply max-md:text-xl max-md:font-bold;
}

.text-xl {
  @apply max-md:text-lg;
}

.text-lg {
  @apply max-md:text-base;
}

.text-base {
  @apply max-md:text-sm;
}
