#futureface-news-slider{
    padding-bottom: 30px;
    user-select: none;
    .container{
        .swiper {
            width: 100%;
            height: 100%;
            position: relative;
            width: 100%;
            overflow: hidden;
            max-width: 1130px;
            .swiper-wrapper{
                .swiper-slide {
                   min-height: 384px;
                   position: relative;
                   
                }
            }
            
            .swiper-actions{
                display: flex;
                width: 100%;
                justify-content: flex-end;
                align-items: center;
                gap: 8px;
                button {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid #000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    svg path{
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover{
                        border-color: #FF7147;
                        svg path{
                            transition: 0.3s;
                            fill: #FF7147;
                        }
                    }
              }
            }
        }
    }
}