<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FIXME: vite alias didn't work, so i used relative path -->
    <!-- <link rel="stylesheet" href="~@styles/style.css"/> -->
    <link rel="stylesheet" href="../../assets/styles/style.css" />
    <title>Document</title>
</head>

<body>
    <div id="swiper-page">
        <!-- start anma TopSpecialties slider -->
        <div id="anma-top-specialties-slider">
            <div class="container">
                <h2>Anma Top Specialties Slider</h2>
                <div class="swiper anma-top-specialties">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>


                    </div>
                    <div class="swiper-actions">
                        <button class="anma-top-specialties__swiper-button-prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.41 7.41 14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                            </svg>
                        </button>
                        <button class="anma-top-specialties__swiper-button-next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end anma TopSpecialties slider -->
         <!-- start futureface news slider -->
         <div id="futureface-news-slider">
            <div class="container">
                <h2>Futureface news Slider</h2>
                <div class="swiper futureface-news">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>


                    </div>
                    <div class="swiper-actions">
                        <button class="futureface-news__swiper-button-prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.41 7.41 14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                            </svg>
                        </button>
                        <button class="futureface-news__swiper-button-next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
         <!-- end futureface OurLatest slider -->
    </div>
</body>
<script type="module" src="main.js"></script>

</html>