<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FIXME: vite alias didn't work, so i used relative path -->
    <!-- <link rel="stylesheet" href="~@styles/style.css"/> -->
    <link rel="stylesheet" href="../../assets/styles/style.css" />
    <title>Document</title>
</head>

<body>
    <div id="swiper-page">
        <!-- start anma TopSpecialties slider -->
        <div id="anma-top-specialties-slider">
            <div class="container">
                <h2>Anma Top Specialties</h2>
                <div class="swiper anma-top-specialties">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>


                    </div>
                    <!-- TODO: using swiper API to control the slider -->
                    <div class="swiper-actions">
                        <button class="anma-top-specialties__swiper-button-prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.41 7.41 14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                            </svg>
                        </button>
                        <button class="anma-top-specialties__swiper-button-next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end anma TopSpecialties slider -->
         <!-- start futureface news slider -->
         <div id="futureface-news-slider">
            <div class="container">
                <h2 class="text-center mb-12">Futureface news</h2>
                <div class="swiper futureface-news">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="rounded-2xl flex flex-col group items-start" href="#">
                                <!-- FIXME: final design not done, just dummy code -->
                                <div class="rounded-2xl aspect-[1.3333] overflow-hidden mb-5">
                                    <img src="../../assets/images/swiper/futureface/news/1.jpg" alt="" class="rounded-lg w-full h-full object-cover group-hover:scale-125 transition-all">
                                </div>
                                <p class="text-bay-of-many-900 text-sm font-semibold mb-2">20 Jan 2025</p>
                                <div class="flex items-center justify-between gap-4 mb-2 w-full">
                                    <h3 class="text-vulcan-950 text-base font-bold pe-6">Future Face in leap2025
                                    </h3>
                                    <img src="../../assets/images/swiper/futureface/icons/north-east.svg" alt="">
                                </div>
                                <p class="text-sm text-abbey-600 line-clamp-3">
                                    How do you create compelling presentations that wow your colleagues and impress your managers?How do you create compelling presentations that wow your colleagues and impress your managers?
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="rounded-2xl flex flex-col group items-start" href="#">
                                <div class="rounded-2xl aspect-[1.3333] overflow-hidden mb-5">
                                    <img src="../../assets/images/swiper/futureface/news/2.jpg" alt="" class="rounded-lg w-full h-full object-cover group-hover:scale-125 transition-all">
                                </div>
                                <p class="text-bay-of-many-900 text-sm font-semibold mb-2">20 Jan 2025</p>
                                <div class="flex items-center justify-between gap-4 mb-2 w-full">
                                    <h3 class="text-vulcan-950 text-base font-bold pe-6">Future Face in leap2025
                                    </h3>
                                    <img src="../../assets/images/swiper/futureface/icons/north-east.svg" alt="">
                                </div>
                                <p class="text-sm text-abbey-600 line-clamp-3">
                                    How do you create compelling presentations that wow your colleagues and impress your managers?How do you create compelling presentations that wow your colleagues and impress your managers?
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="rounded-2xl flex flex-col group items-start" href="#">
                                <div class="rounded-2xl aspect-[1.3333] overflow-hidden mb-5">
                                    <img src="../../assets/images/swiper/futureface/news/3.png" alt="" class="rounded-lg w-full h-full object-cover group-hover:scale-125 transition-all">
                                </div>
                                <p class="text-bay-of-many-900 text-sm font-semibold mb-2">20 Jan 2025</p>
                                <div class="flex items-center justify-between gap-4 mb-2 w-full">
                                    <h3 class="text-vulcan-950 text-base font-bold pe-6">Future Face in leap2025
                                    </h3>
                                    <img src="../../assets/images/swiper/futureface/icons/north-east.svg" alt="">
                                </div>
                                <p class="text-sm text-abbey-600 line-clamp-3">
                                    How do you create compelling presentations that wow your colleagues and impress your managers?How do you create compelling presentations that wow your colleagues and impress your managers?
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="rounded-2xl flex flex-col group items-start" href="#">
                                <div class="rounded-2xl aspect-[1.3333] overflow-hidden mb-5">
                                    <img src="../../assets/images/swiper/futureface/news/4.jpg" alt="" class="rounded-lg w-full h-full object-cover group-hover:scale-125 transition-all">
                                </div>
                                <p class="text-bay-of-many-900 text-sm font-semibold mb-2">20 Jan 2025</p>
                                <div class="flex items-center justify-between gap-4 mb-2 w-full">
                                    <h3 class="text-vulcan-950 text-base font-bold pe-6">Future Face in leap2025
                                    </h3>
                                    <img src="../../assets/images/swiper/futureface/icons/north-east.svg" alt="">
                                </div>
                                <p class="text-sm text-abbey-600 line-clamp-3">
                                    How do you create compelling presentations that wow your colleagues and impress your managers?How do you create compelling presentations that wow your colleagues and impress your managers?
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="rounded-2xl flex flex-col group items-start" href="#">
                                <div class="rounded-2xl aspect-[1.3333] overflow-hidden mb-5">
                                    <img src="../../assets/images/swiper/futureface/news/5.jpg" alt="" class="rounded-lg w-full h-full object-cover group-hover:scale-125 transition-all">
                                </div>
                                <p class="text-bay-of-many-900 text-sm font-semibold mb-2">20 Jan 2025</p>
                                <div class="flex items-center justify-between gap-4 mb-2 w-full">
                                    <h3 class="text-vulcan-950 text-base font-bold pe-6">Future Face in leap2025
                                    </h3>
                                    <img src="../../assets/images/swiper/futureface/icons/north-east.svg" alt="">
                                </div>
                                <p class="text-sm text-abbey-600 line-clamp-3">
                                    How do you create compelling presentations that wow your colleagues and impress your managers?How do you create compelling presentations that wow your colleagues and impress your managers?
                                </p>
                            </a>
                        </div>
                        

                    </div>
                    <!-- TODO: using swiper API to control the slider -->
                    <div class="swiper-actions mt-8">
                        <button class="futureface-news__swiper-button-prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.41 7.41 14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                            </svg>
                        </button>
                        <button class="futureface-news__swiper-button-next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
         <!-- end futureface OurLatest slider -->
          <!-- start futureface our clients slider -->
<div id="futureface-our-clients-slider" class="py-16">
    <div class="container">
        <h2 class="text-center mb-12">Futureface Our Clients</h2>
        <div class="swiper futureface-our-clients">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../../assets/images/swiper/futureface/clients/1.png" alt="NEOM" class="grayscale hover:grayscale-0 transition-all duration-300">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/swiper/futureface/clients/2.png" alt="HRDF" class="grayscale hover:grayscale-0 transition-all duration-300">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/swiper/futureface/clients/3.png" alt="EJADA" class="grayscale hover:grayscale-0 transition-all duration-300">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/swiper/futureface/clients/4.png" alt="SABB" class="grayscale hover:grayscale-0 transition-all duration-300">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/swiper/futureface/clients/5.png" alt="STC" class="grayscale hover:grayscale-0 transition-all duration-300">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/swiper/futureface/clients/6.png" alt="TBC" class="grayscale hover:grayscale-0 transition-all duration-300">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/swiper/futureface/clients/7.png" alt="TBC" class="grayscale hover:grayscale-0 transition-all duration-300">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/swiper/futureface/clients/8.png" alt="TBC" class="grayscale hover:grayscale-0 transition-all duration-300">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/swiper/futureface/clients/9.png" alt="TBC" class="grayscale hover:grayscale-0 transition-all duration-300">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/swiper/futureface/clients/10.png" alt="TBC" class="grayscale hover:grayscale-0 transition-all duration-300">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/swiper/futureface/clients/11.png" alt="TBC" class="grayscale hover:grayscale-0 transition-all duration-300">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end futureface our clients slider -->
    </div>
</body>
<script type="module" src="main.js"></script>

</html>