<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FIXME: vite alias didn't work, so i used relative path -->
    <!-- <link rel="stylesheet" href="~@styles/style.css"/> -->
    <link rel="stylesheet" href="../../assets/styles/style.css" />
    <title>Document</title>
</head>

<body>
    <div id="swiper-page">
        <!-- start anma TopSpecialties slider -->
        <div id="anma-top-specialties-slider">
            <div class="container">
                <h2>Anma Top Specialties</h2>
                <div class="swiper anma-top-specialties">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>
                        <div class="swiper-slide">
                            <p>الطب النفسي للأطفال والمراهقين</p>
                        </div>


                    </div>
                    <!-- TODO: using swiper API to control the slider -->
                    <div class="swiper-actions">
                        <button class="anma-top-specialties__swiper-button-prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.41 7.41 14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                            </svg>
                        </button>
                        <button class="anma-top-specialties__swiper-button-next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end anma TopSpecialties slider -->
        <!-- start futureface news slider -->
        <div id="futureface-news-slider">
            <div class="container">
                <h2 class="text-center mb-12">Futureface news</h2>
                <div class="swiper futureface-news">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="rounded-2xl flex flex-col group items-start" href="#">
                                <!-- FIXME: final design not done, just dummy code -->
                                <div class="rounded-2xl aspect-[1.3333] overflow-hidden mb-5">
                                    <img src="../../assets/images/swiper/futureface/news/1.jpg" alt=""
                                        class="rounded-lg w-full h-full object-cover group-hover:scale-125 transition-all">
                                </div>
                                <p class="text-bay-of-many-900 text-sm font-semibold mb-2">20 Jan 2025</p>
                                <div class="flex items-center justify-between gap-4 mb-2 w-full">
                                    <h3 class="text-vulcan-950 text-base font-bold pe-6">Future Face in leap2025
                                    </h3>
                                    <img src="../../assets/images/swiper/futureface/icons/north-east.svg" alt="">
                                </div>
                                <p class="text-sm text-abbey-600 line-clamp-3">
                                    How do you create compelling presentations that wow your colleagues and impress your
                                    managers?How do you create compelling presentations that wow your colleagues and
                                    impress your managers?
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="rounded-2xl flex flex-col group items-start" href="#">
                                <div class="rounded-2xl aspect-[1.3333] overflow-hidden mb-5">
                                    <img src="../../assets/images/swiper/futureface/news/2.jpg" alt=""
                                        class="rounded-lg w-full h-full object-cover group-hover:scale-125 transition-all">
                                </div>
                                <p class="text-bay-of-many-900 text-sm font-semibold mb-2">20 Jan 2025</p>
                                <div class="flex items-center justify-between gap-4 mb-2 w-full">
                                    <h3 class="text-vulcan-950 text-base font-bold pe-6">Future Face in leap2025
                                    </h3>
                                    <img src="../../assets/images/swiper/futureface/icons/north-east.svg" alt="">
                                </div>
                                <p class="text-sm text-abbey-600 line-clamp-3">
                                    How do you create compelling presentations that wow your colleagues and impress your
                                    managers?How do you create compelling presentations that wow your colleagues and
                                    impress your managers?
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="rounded-2xl flex flex-col group items-start" href="#">
                                <div class="rounded-2xl aspect-[1.3333] overflow-hidden mb-5">
                                    <img src="../../assets/images/swiper/futureface/news/3.png" alt=""
                                        class="rounded-lg w-full h-full object-cover group-hover:scale-125 transition-all">
                                </div>
                                <p class="text-bay-of-many-900 text-sm font-semibold mb-2">20 Jan 2025</p>
                                <div class="flex items-center justify-between gap-4 mb-2 w-full">
                                    <h3 class="text-vulcan-950 text-base font-bold pe-6">Future Face in leap2025
                                    </h3>
                                    <img src="../../assets/images/swiper/futureface/icons/north-east.svg" alt="">
                                </div>
                                <p class="text-sm text-abbey-600 line-clamp-3">
                                    How do you create compelling presentations that wow your colleagues and impress your
                                    managers?How do you create compelling presentations that wow your colleagues and
                                    impress your managers?
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="rounded-2xl flex flex-col group items-start" href="#">
                                <div class="rounded-2xl aspect-[1.3333] overflow-hidden mb-5">
                                    <img src="../../assets/images/swiper/futureface/news/4.jpg" alt=""
                                        class="rounded-lg w-full h-full object-cover group-hover:scale-125 transition-all">
                                </div>
                                <p class="text-bay-of-many-900 text-sm font-semibold mb-2">20 Jan 2025</p>
                                <div class="flex items-center justify-between gap-4 mb-2 w-full">
                                    <h3 class="text-vulcan-950 text-base font-bold pe-6">Future Face in leap2025
                                    </h3>
                                    <img src="../../assets/images/swiper/futureface/icons/north-east.svg" alt="">
                                </div>
                                <p class="text-sm text-abbey-600 line-clamp-3">
                                    How do you create compelling presentations that wow your colleagues and impress your
                                    managers?How do you create compelling presentations that wow your colleagues and
                                    impress your managers?
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="rounded-2xl flex flex-col group items-start" href="#">
                                <div class="rounded-2xl aspect-[1.3333] overflow-hidden mb-5">
                                    <img src="../../assets/images/swiper/futureface/news/5.jpg" alt=""
                                        class="rounded-lg w-full h-full object-cover group-hover:scale-125 transition-all">
                                </div>
                                <p class="text-bay-of-many-900 text-sm font-semibold mb-2">20 Jan 2025</p>
                                <div class="flex items-center justify-between gap-4 mb-2 w-full">
                                    <h3 class="text-vulcan-950 text-base font-bold pe-6">Future Face in leap2025
                                    </h3>
                                    <img src="../../assets/images/swiper/futureface/icons/north-east.svg" alt="">
                                </div>
                                <p class="text-sm text-abbey-600 line-clamp-3">
                                    How do you create compelling presentations that wow your colleagues and impress your
                                    managers?How do you create compelling presentations that wow your colleagues and
                                    impress your managers?
                                </p>
                            </a>
                        </div>


                    </div>
                    <!-- TODO: using swiper API to control the slider -->
                    <div class="swiper-actions mt-8">
                        <button class="futureface-news__swiper-button-prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.41 7.41 14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                            </svg>
                        </button>
                        <button class="futureface-news__swiper-button-next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end futureface OurLatest slider -->
        <!-- start futureface our clients slider -->
        <div id="futureface-our-clients-slider" class="py-16">
            <div class="container">
                <h2 class="text-center mb-12">Futureface Our Clients</h2>
                <div class="swiper futureface-our-clients">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../assets/images/swiper/futureface/clients/1.png" alt="NEOM"
                                class="grayscale hover:grayscale-0 transition-all duration-300">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/swiper/futureface/clients/2.png" alt="HRDF"
                                class="grayscale hover:grayscale-0 transition-all duration-300">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/swiper/futureface/clients/3.png" alt="EJADA"
                                class="grayscale hover:grayscale-0 transition-all duration-300">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/swiper/futureface/clients/4.png" alt="SABB"
                                class="grayscale hover:grayscale-0 transition-all duration-300">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/swiper/futureface/clients/5.png" alt="STC"
                                class="grayscale hover:grayscale-0 transition-all duration-300">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/swiper/futureface/clients/6.png" alt="TBC"
                                class="grayscale hover:grayscale-0 transition-all duration-300">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/swiper/futureface/clients/7.png" alt="TBC"
                                class="grayscale hover:grayscale-0 transition-all duration-300">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/swiper/futureface/clients/8.png" alt="TBC"
                                class="grayscale hover:grayscale-0 transition-all duration-300">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/swiper/futureface/clients/9.png" alt="TBC"
                                class="grayscale hover:grayscale-0 transition-all duration-300">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/swiper/futureface/clients/10.png" alt="TBC"
                                class="grayscale hover:grayscale-0 transition-all duration-300">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/swiper/futureface/clients/11.png" alt="TBC"
                                class="grayscale hover:grayscale-0 transition-all duration-300">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end futureface our clients slider -->
        <!-- start anma services slider -->
        <div id="anma-services-slider" class="py-16">
            <div class="container">
                <h2 class="text-center mb-12">Anma Services</h2>
                <div class="swiper anma-services">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="group flex flex-col w-full h-full overflow-hidden rounded-[32px]">
                                <img src="../../assets/images/swiper/anma/services/1.png" alt="NEOM"
                                    class="w-full aspect-[0.68] object-cover origin-bottom-left rounded-[32px] transition-[transform] duration-300 ease-in-out group-hover:xl:scale-[1.1]">
                                <div
                                    class="flex flex-1 flex-col justify-between h-full rounded-[120px_120px_32px_32px] gap-2 max-lg:-mt-[19rem] -mt-[17rem] translate-y-[4rem] transition-[transform] duration-300 ease-in-out group-hover:xl:translate-y-[0] pb-6 pl-4 pr-4 pt-[70px] md:pt-[90px] text-white text-center relative bg-[#CC3956]">
                                    <div
                                        class="absolute w-[80px] h-[80px] flex items-center justify-center rounded-full bg-white top-0 translate-y-[-38px] left-0 right-0 mx-auto">
                                        <div class="flex justify-center items-center h-full">
                                            <img src="../../assets/images/swiper/anma/services/icons/1.svg" alt=""
                                                class="w-[43px] h-[34px]">

                                        </div>
                                    </div>
                                    <h3>برنامج التدريب الشامل</h3>
                                    <p class="line-clamp-3 mt-auto">هناك حقيقة مثبتة منذ زمن طويل ولا يعقب إختياري منذ
                                        زمن طويل ولا يعقب إختياري</p>
                                    <button
                                        class="px-5 max-sm:px-3 py-3 rounded-[30px] font-medium flex items-center text-center justify-center gap-2 transition duration-250 ease-in-out disabled:opacity-75  border border-solid bg-[transparent] shadow-[1px_2px_4px_0px_rgba(0,0,0,0.15)] border-white text-white shadow-[1px_2px_4px_0px_rgba(0,0,0,0.15)] hover:bg-[#ffffff33] hover:shadow-[0_4px_16px_0px_rgba(0,0,0,0.1)] text-[1.125rem] h-[48px] w-fit mx-auto mt-4 invisible opacity-0 transition-[all] duration-300 ease-in-out group-hover:xl:opacity-100 group-hover:xl:visible">
                                        مشاهدة
                                    </button>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="group flex flex-col w-full h-full overflow-hidden rounded-[32px]">
                                <img src="../../assets/images/swiper/anma/services/2.png" alt="NEOM"
                                    class="w-full aspect-[0.68] object-cover origin-bottom-left rounded-[32px] transition-[transform] duration-300 ease-in-out group-hover:xl:scale-[1.1]">
                                <div
                                    class="flex flex-1 flex-col justify-between h-full rounded-[120px_120px_32px_32px] gap-2 max-lg:-mt-[19rem] -mt-[17rem] translate-y-[4rem] transition-[transform] duration-300 ease-in-out group-hover:xl:translate-y-[0] pb-6 pl-4 pr-4 pt-[70px] md:pt-[90px] text-white text-center relative bg-[#2B7A99]">
                                    <div
                                        class="absolute w-[80px] h-[80px] flex items-center justify-center rounded-full bg-white top-0 translate-y-[-38px] left-0 right-0 mx-auto">
                                        <div class="flex justify-center items-center h-full">
                                            <img src="../../assets/images/swiper/anma/services/icons/2.svg" alt=""
                                                class="w-[43px] h-[34px]">

                                        </div>
                                    </div>
                                    <h3>برنامج التدريب الشامل</h3>
                                    <p class="line-clamp-3 mt-auto">هناك حقيقة مثبتة منذ زمن طويل ولا يعقب إختياري منذ
                                        زمن طويل ولا يعقب إختياري</p>
                                    <button
                                        class="px-5 max-sm:px-3 py-3 rounded-[30px] font-medium flex items-center text-center justify-center gap-2 transition duration-250 ease-in-out disabled:opacity-75  border border-solid bg-[transparent] shadow-[1px_2px_4px_0px_rgba(0,0,0,0.15)] border-white text-white shadow-[1px_2px_4px_0px_rgba(0,0,0,0.15)] hover:bg-[#ffffff33] hover:shadow-[0_4px_16px_0px_rgba(0,0,0,0.1)] text-[1.125rem] h-[48px] w-fit mx-auto mt-4 invisible opacity-0 transition-[all] duration-300 ease-in-out group-hover:xl:opacity-100 group-hover:xl:visible">
                                        مشاهدة
                                    </button>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="group flex flex-col w-full h-full overflow-hidden rounded-[32px]">
                                <img src="../../assets/images/swiper/anma/services/3.png" alt="NEOM"
                                    class="w-full aspect-[0.68] object-cover origin-bottom-left rounded-[32px] transition-[transform] duration-300 ease-in-out group-hover:xl:scale-[1.1]">
                                <div
                                    class="flex flex-1 flex-col justify-between h-full rounded-[120px_120px_32px_32px] gap-2 max-lg:-mt-[19rem] -mt-[17rem] translate-y-[4rem] transition-[transform] duration-300 ease-in-out group-hover:xl:translate-y-[0] pb-6 pl-4 pr-4 pt-[70px] md:pt-[90px] text-white text-center relative bg-[#2FBBF3]">
                                    <div
                                        class="absolute w-[80px] h-[80px] flex items-center justify-center rounded-full bg-white top-0 translate-y-[-38px] left-0 right-0 mx-auto">
                                        <div class="flex justify-center items-center h-full">
                                            <img src="../../assets/images/swiper/anma/services/icons/3.svg" alt=""
                                                class="w-[43px] h-[34px]">

                                        </div>
                                    </div>
                                    <h3>برنامج التدريب الشامل</h3>
                                    <p class="line-clamp-3 mt-auto">هناك حقيقة مثبتة منذ زمن طويل ولا يعقب إختياري منذ
                                        زمن طويل ولا يعقب إختياري</p>
                                    <button
                                        class="px-5 max-sm:px-3 py-3 rounded-[30px] font-medium flex items-center text-center justify-center gap-2 transition duration-250 ease-in-out disabled:opacity-75  border border-solid bg-[transparent] shadow-[1px_2px_4px_0px_rgba(0,0,0,0.15)] border-white text-white shadow-[1px_2px_4px_0px_rgba(0,0,0,0.15)] hover:bg-[#ffffff33] hover:shadow-[0_4px_16px_0px_rgba(0,0,0,0.1)] text-[1.125rem] h-[48px] w-fit mx-auto mt-4 invisible opacity-0 transition-[all] duration-300 ease-in-out group-hover:xl:opacity-100 group-hover:xl:visible">
                                        مشاهدة
                                    </button>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="group flex flex-col w-full h-full overflow-hidden rounded-[32px]">
                                <img src="../../assets/images/swiper/anma/services/4.png" alt="NEOM"
                                    class="w-full aspect-[0.68] object-cover origin-bottom-left rounded-[32px] transition-[transform] duration-300 ease-in-out group-hover:xl:scale-[1.1]">
                                <div
                                    class="flex flex-1 flex-col justify-between h-full rounded-[120px_120px_32px_32px] gap-2 max-lg:-mt-[19rem] -mt-[17rem] translate-y-[4rem] transition-[transform] duration-300 ease-in-out group-hover:xl:translate-y-[0] pb-6 pl-4 pr-4 pt-[70px] md:pt-[90px] text-white text-center relative bg-[#00A9A9]">
                                    <div
                                        class="absolute w-[80px] h-[80px] flex items-center justify-center rounded-full bg-white top-0 translate-y-[-38px] left-0 right-0 mx-auto">
                                        <div class="flex justify-center items-center h-full">
                                            <img src="../../assets/images/swiper/anma/services/icons/4.svg" alt=""
                                                class="w-[43px] h-[34px]">

                                        </div>
                                    </div>
                                    <h3>برنامج التدريب الشامل</h3>
                                    <p class="line-clamp-3 mt-auto">هناك حقيقة مثبتة منذ زمن طويل ولا يعقب إختياري منذ
                                        زمن طويل ولا يعقب إختياري</p>
                                    <button
                                        class="px-5 max-sm:px-3 py-3 rounded-[30px] font-medium flex items-center text-center justify-center gap-2 transition duration-250 ease-in-out disabled:opacity-75  border border-solid bg-[transparent] shadow-[1px_2px_4px_0px_rgba(0,0,0,0.15)] border-white text-white shadow-[1px_2px_4px_0px_rgba(0,0,0,0.15)] hover:bg-[#ffffff33] hover:shadow-[0_4px_16px_0px_rgba(0,0,0,0.1)] text-[1.125rem] h-[48px] w-fit mx-auto mt-4 invisible opacity-0 transition-[all] duration-300 ease-in-out group-hover:xl:opacity-100 group-hover:xl:visible">
                                        مشاهدة
                                    </button>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- TODO: using swiper API to control the slider -->
                    <div class="swiper-actions">
                        <button class="anma-services__swiper-button-prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.41 7.41 14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                            </svg>
                        </button>
                        <button class="anma-services__swiper-button-next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end anma services slider -->
        <!-- start robox usage slider -->
        <div id="robox-usage-slider" class="py-16">
            <div class="container">
                <h2 class="text-center mb-12">Robox Usage Slider</h2>
                <div class="swiper-container usage-tabs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide on"><a href="#"><span class="text">Schedules Management</span></a></div>
                      <div class="swiper-slide"><a href="#"><span class="text">Excuses</span></a></div>
                      <div class="swiper-slide"><a href="#"><span class="text">Vacations</span></a></div>
                      <div class="swiper-slide"><a href="#"><span class="text">Extra-Services</span></a></div>
                      <div class="swiper-slide"><a href="#"><span class="text">Updating Attendance</span></a></div>
                      <div class="swiper-slide"><a href="#"><span class="text">Attendance Verification</span></a></div>
                      <div class="swiper-slide"><a href="#"><span class="text">Absent & Late Statements</span></a></div>
                    </div>
                  </div>
                  <div class="swiper-container usage-content">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">
                            <div
                              class="flex justify-start col-span-3 rtl:pl-12 ltr:pr-12 pb-12"
                            >
                              <div
                                class="relative bg-primary-700 rounded-[25px] w-full aspect-[1.6]"
                              >
                                <div
                                  class="absolute ltr:left-5 rtl:right-5 top-5 md:top-12 md:ltr:left-12 mdrtl:right-12 w-full h-full rounded-tl-[25px] rounded-br-[25px]"
                                >
                                  <img
                                    class="w-full h-full shadow-greyShadow object-cover ltr:rounded-tl-[25px] rtl:rounded-tr-[25px] rounded-br-[25px]"
                                    src="../../assets/images/swiper/robox/usage/1.png"
                                    data-swiper-parallax="-100"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="flex items-center col-span-2">
                              <div>
                                <h3
                                  class="font-medium text-[1.5rem] md:text-lg"
                                  data-swiper-parallax="-150"
                                >
                                Schedules Management
                                </h3>
                                <p class="mt-2 max-sm:text-[14px]" data-swiper-parallax="-200">
                                    تتيح الخاصية لصاحب الصلاحية إدارة الأذونات في النظام عن طريق
                                    إدارة أنواع الأذونات وإضافتها على حسب سياسات المؤسسة. وإدارة
                                    سير العمل الأذونات على حسب الأقسام في النظام لتتبع الطلبات
                                    والموافقات.
                                  
                                </p>
                                <div
                                  class="flex gap-2 justify-start flex-wrap mt-8"
                                  data-swiper-parallax="-250"
                                >
                                  <router-link
                                    class="demo-modal-btn text-primary-700 py-4 px-6 rounded-[30px] font-md inline-flex gap-2 items-center shadow-greyShadow"
                                    to="demo"
                                    data-swiper-parallax="-300"
                                  >
                                  StartYourFreeTrial
                                    <img
                                      class="rtl:rotate-180"
                                      src="../../assets/images/swiper/robox/icons/arrow.svg"
                                    />
                                  </router-link>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">
                            <div
                              class="flex justify-start col-span-3 rtl:pl-12 ltr:pr-12 pb-12"
                            >
                              <div
                                class="relative bg-primary-700 rounded-[25px] w-full aspect-[1.6]"
                              >
                                <div
                                  class="absolute ltr:left-5 rtl:right-5 top-5 md:top-12 md:ltr:left-12 mdrtl:right-12 w-full h-full rounded-tl-[25px] rounded-br-[25px]"
                                >
                                  <img
                                    class="w-full h-full shadow-greyShadow object-cover ltr:rounded-tl-[25px] rtl:rounded-tr-[25px] rounded-br-[25px]"
                                    src="../../assets/images/swiper/robox/usage/2.png"
                                    data-swiper-parallax="-100"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="flex items-center col-span-2">
                              <div>
                                <h3
                                  class="font-medium text-[1.5rem] md:text-lg"
                                  data-swiper-parallax="-150"
                                >
                                Excuses
                                </h3>
                                <p class="mt-2 max-sm:text-[14px]" data-swiper-parallax="-200">
                                    تتيح الخاصية لصاحب الصلاحية إدارة الأذونات في النظام عن طريق
                                    إدارة أنواع الأذونات وإضافتها على حسب سياسات المؤسسة. وإدارة
                                    سير العمل الأذونات على حسب الأقسام في النظام لتتبع الطلبات
                                    والموافقات.
                                  
                                </p>
                                <div
                                  class="flex gap-2 justify-start flex-wrap mt-8"
                                  data-swiper-parallax="-250"
                                >
                                  <router-link
                                    class="demo-modal-btn text-primary-700 py-4 px-6 rounded-[30px] font-md inline-flex gap-2 items-center shadow-greyShadow"
                                    to="demo"
                                    data-swiper-parallax="-300"
                                  >
                                  StartYourFreeTrial
                                    <img
                                      class="rtl:rotate-180"
                                      src="../../assets/images/swiper/robox/icons/arrow.svg"
                                    />
                                  </router-link>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">
                            <div
                              class="flex justify-start col-span-3 rtl:pl-12 ltr:pr-12 pb-12"
                            >
                              <div
                                class="relative bg-primary-700 rounded-[25px] w-full aspect-[1.6]"
                              >
                                <div
                                  class="absolute ltr:left-5 rtl:right-5 top-5 md:top-12 md:ltr:left-12 mdrtl:right-12 w-full h-full rounded-tl-[25px] rounded-br-[25px]"
                                >
                                  <img
                                    class="w-full h-full shadow-greyShadow object-cover ltr:rounded-tl-[25px] rtl:rounded-tr-[25px] rounded-br-[25px]"
                                    src="../../assets/images/swiper/robox/usage/3.png"
                                    data-swiper-parallax="-100"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="flex items-center col-span-2">
                              <div>
                                <h3
                                  class="font-medium text-[1.5rem] md:text-lg"
                                  data-swiper-parallax="-150"
                                >
                                Vacations
                                </h3>
                                <p class="mt-2 max-sm:text-[14px]" data-swiper-parallax="-200">
                                    تتيح الخاصية لصاحب الصلاحية إدارة الأذونات في النظام عن طريق
                                    إدارة أنواع الأذونات وإضافتها على حسب سياسات المؤسسة. وإدارة
                                    سير العمل الأذونات على حسب الأقسام في النظام لتتبع الطلبات
                                    والموافقات.
                                  
                                </p>
                                <div
                                  class="flex gap-2 justify-start flex-wrap mt-8"
                                  data-swiper-parallax="-250"
                                >
                                  <router-link
                                    class="demo-modal-btn text-primary-700 py-4 px-6 rounded-[30px] font-md inline-flex gap-2 items-center shadow-greyShadow"
                                    to="demo"
                                    data-swiper-parallax="-300"
                                  >
                                  StartYourFreeTrial
                                    <img
                                      class="rtl:rotate-180"
                                      src="../../assets/images/swiper/robox/icons/arrow.svg"
                                    />
                                  </router-link>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">
                            <div
                              class="flex justify-start col-span-3 rtl:pl-12 ltr:pr-12 pb-12"
                            >
                              <div
                                class="relative bg-primary-700 rounded-[25px] w-full aspect-[1.6]"
                              >
                                <div
                                  class="absolute ltr:left-5 rtl:right-5 top-5 md:top-12 md:ltr:left-12 mdrtl:right-12 w-full h-full rounded-tl-[25px] rounded-br-[25px]"
                                >
                                  <img
                                    class="w-full h-full shadow-greyShadow object-cover ltr:rounded-tl-[25px] rtl:rounded-tr-[25px] rounded-br-[25px]"
                                    src="../../assets/images/swiper/robox/usage/4.png"
                                    data-swiper-parallax="-100"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="flex items-center col-span-2">
                              <div>
                                <h3
                                  class="font-medium text-[1.5rem] md:text-lg"
                                  data-swiper-parallax="-150"
                                >
                                Extra-Services
                                </h3>
                                <p class="mt-2 max-sm:text-[14px]" data-swiper-parallax="-200">
                                    تتيح الخاصية لصاحب الصلاحية إدارة الأذونات في النظام عن طريق
                                    إدارة أنواع الأذونات وإضافتها على حسب سياسات المؤسسة. وإدارة
                                    سير العمل الأذونات على حسب الأقسام في النظام لتتبع الطلبات
                                    والموافقات.
                                  
                                </p>
                                <div
                                  class="flex gap-2 justify-start flex-wrap mt-8"
                                  data-swiper-parallax="-250"
                                >
                                  <router-link
                                    class="demo-modal-btn text-primary-700 py-4 px-6 rounded-[30px] font-md inline-flex gap-2 items-center shadow-greyShadow"
                                    to="demo"
                                    data-swiper-parallax="-300"
                                  >
                                  StartYourFreeTrial
                                    <img
                                      class="rtl:rotate-180"
                                      src="../../assets/images/swiper/robox/icons/arrow.svg"
                                    />
                                  </router-link>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">
                            <div
                              class="flex justify-start col-span-3 rtl:pl-12 ltr:pr-12 pb-12"
                            >
                              <div
                                class="relative bg-primary-700 rounded-[25px] w-full aspect-[1.6]"
                              >
                                <div
                                  class="absolute ltr:left-5 rtl:right-5 top-5 md:top-12 md:ltr:left-12 mdrtl:right-12 w-full h-full rounded-tl-[25px] rounded-br-[25px]"
                                >
                                  <img
                                    class="w-full h-full shadow-greyShadow object-cover ltr:rounded-tl-[25px] rtl:rounded-tr-[25px] rounded-br-[25px]"
                                    src="../../assets/images/swiper/robox/usage/6.png"
                                    data-swiper-parallax="-100"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="flex items-center col-span-2">
                              <div>
                                <h3
                                  class="font-medium text-[1.5rem] md:text-lg"
                                  data-swiper-parallax="-150"
                                >
                                Updating Attendance
                                </h3>
                                <p class="mt-2 max-sm:text-[14px]" data-swiper-parallax="-200">
                                    تتيح الخاصية لصاحب الصلاحية إدارة الأذونات في النظام عن طريق
                                    إدارة أنواع الأذونات وإضافتها على حسب سياسات المؤسسة. وإدارة
                                    سير العمل الأذونات على حسب الأقسام في النظام لتتبع الطلبات
                                    والموافقات.
                                  
                                </p>
                                <div
                                  class="flex gap-2 justify-start flex-wrap mt-8"
                                  data-swiper-parallax="-250"
                                >
                                  <router-link
                                    class="demo-modal-btn text-primary-700 py-4 px-6 rounded-[30px] font-md inline-flex gap-2 items-center shadow-greyShadow"
                                    to="demo"
                                    data-swiper-parallax="-300"
                                  >
                                  StartYourFreeTrial
                                    <img
                                      class="rtl:rotate-180"
                                      src="../../assets/images/swiper/robox/icons/arrow.svg"
                                    />
                                  </router-link>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">
                            <div
                              class="flex justify-start col-span-3 rtl:pl-12 ltr:pr-12 pb-12"
                            >
                              <div
                                class="relative bg-primary-700 rounded-[25px] w-full aspect-[1.6]"
                              >
                                <div
                                  class="absolute ltr:left-5 rtl:right-5 top-5 md:top-12 md:ltr:left-12 mdrtl:right-12 w-full h-full rounded-tl-[25px] rounded-br-[25px]"
                                >
                                  <img
                                    class="w-full h-full shadow-greyShadow object-cover ltr:rounded-tl-[25px] rtl:rounded-tr-[25px] rounded-br-[25px]"
                                    src="../../assets/images/swiper/robox/usage/5.png"
                                    data-swiper-parallax="-100"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="flex items-center col-span-2">
                              <div>
                                <h3
                                  class="font-medium text-[1.5rem] md:text-lg"
                                  data-swiper-parallax="-150"
                                >
                                Attendance Verification
                                </h3>
                                <p class="mt-2 max-sm:text-[14px]" data-swiper-parallax="-200">
                                    تتيح الخاصية لصاحب الصلاحية إدارة الأذونات في النظام عن طريق
                                    إدارة أنواع الأذونات وإضافتها على حسب سياسات المؤسسة. وإدارة
                                    سير العمل الأذونات على حسب الأقسام في النظام لتتبع الطلبات
                                    والموافقات.
                                  
                                </p>
                                <div
                                  class="flex gap-2 justify-start flex-wrap mt-8"
                                  data-swiper-parallax="-250"
                                >
                                  <router-link
                                    class="demo-modal-btn text-primary-700 py-4 px-6 rounded-[30px] font-md inline-flex gap-2 items-center shadow-greyShadow"
                                    to="demo"
                                    data-swiper-parallax="-300"
                                  >
                                  StartYourFreeTrial
                                    <img
                                      class="rtl:rotate-180"
                                      src="../../assets/images/swiper/robox/icons/arrow.svg"
                                    />
                                  </router-link>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">
                            <div
                              class="flex justify-start col-span-3 rtl:pl-12 ltr:pr-12 pb-12"
                            >
                              <div
                                class="relative bg-primary-700 rounded-[25px] w-full aspect-[1.6]"
                              >
                                <div
                                  class="absolute ltr:left-5 rtl:right-5 top-5 md:top-12 md:ltr:left-12 mdrtl:right-12 w-full h-full rounded-tl-[25px] rounded-br-[25px]"
                                >
                                  <img
                                    class="w-full h-full shadow-greyShadow object-cover ltr:rounded-tl-[25px] rtl:rounded-tr-[25px] rounded-br-[25px]"
                                    src="../../assets/images/swiper/robox/usage/7.png"
                                    data-swiper-parallax="-100"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="flex items-center col-span-2">
                              <div>
                                <h3
                                  class="font-medium text-[1.5rem] md:text-lg"
                                  data-swiper-parallax="-150"
                                >
                                Absent & Late Statements
                                </h3>
                                <p class="mt-2 max-sm:text-[14px]" data-swiper-parallax="-200">
                                    تتيح الخاصية لصاحب الصلاحية إدارة الأذونات في النظام عن طريق
                                    إدارة أنواع الأذونات وإضافتها على حسب سياسات المؤسسة. وإدارة
                                    سير العمل الأذونات على حسب الأقسام في النظام لتتبع الطلبات
                                    والموافقات.
                                  
                                </p>
                                <div
                                  class="flex gap-2 justify-start flex-wrap mt-8"
                                  data-swiper-parallax="-250"
                                >
                                  <router-link
                                    class="demo-modal-btn text-primary-700 py-4 px-6 rounded-[30px] font-md inline-flex gap-2 items-center shadow-greyShadow"
                                    to="demo"
                                    data-swiper-parallax="-300"
                                  >
                                  StartYourFreeTrial
                                    <img
                                      class="rtl:rotate-180"
                                      src="../../assets/images/swiper/robox/icons/arrow.svg"
                                    />
                                  </router-link>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <!-- end robox usage slider -->
    </div>
</body>
<script type="module" src="main.js"></script>

</html>