#robox-usage-slider{
    padding-bottom: 30px;
    user-select: none;
    .container{
        .usage-tabs {
            position: relative;
            overflow: hidden !important;
            width: 100%;
            .swiper-slide {
                width: auto !important;
                a {
                    display: block;
                    text-align: center;
                }
                .text {
                    padding: 1rem;
                    border-radius: 50px;
                    
                    background-color: #fff;
                    position: relative;
                    display: inline-block;
                    transition: .25s;
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 0;
                        height: 2px;
                        background: var(--color1);
                        transform: translateX(-50%);
                        transition: .25s;
                    }
                }
                &.on {
                    .text {
                        color: var(--color1);
                        background-color: #aaf2fa1a;
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        
        .usage-content {
            overflow: hidden !important;
            width: 100%;
            .swiper-slide {
                
            }
          }
    }
}




  
  