#anma-services-slider{
    padding-bottom: 30px;
    user-select: none;
    .container{
        .swiper {
            width: 100%;
            .swiper-wrapper{
                width: 298px;
                height: auto;
                .swiper-slide {
                  
                }
            }
            .swiper-actions{
                @include respond-above(xl){
                 display: none;   
                }
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                gap: 3rem;
                margin-top: 3rem;
                button {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid #000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    svg path{
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover{
                        border-color: #FF7147;
                        svg path{
                            transition: 0.3s;
                            fill: #FF7147;
                        }
                    }
              }
            }
        }
    }
}